openai_api.key
sotopia_episodes_v1.jsonl
credentials.json
*.jsonl
**/__pycache__/*
**/archive/*
!.gitkeep
*.DS_Store
*.pkl
__pycache__/
saves/*
**/*.err
**/*.log
**/data/**.json
data/episode_utterances/